.for-reg {
    position: absolute;
    top: 20%;
    bottom: 40%;
    left: 10%;
    right: 30%;

    border-radius: 20px;
}

.for-log {
    position: absolute;
    width: 217px;
    height: 35px;
    left: 436px;
    top: 180px;

    border-radius: 20px;
    background: rgba(196, 196, 196, 0.15);
}

.for-pas {
    position: absolute;
    width: 217px;
    height: 35px;
    left: 436px;
    top: 230px;

    border-radius: 20px;
    background: rgba(196, 196, 196, 0.15);
}

:focus {
    outline-width: 0 !important;
}

.for-in-button {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 436px;
    top: 280px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.for-reg-button {
    position: absolute;
    width: 110px;
    height: 30px;
    right: 436px;
    left: 543px;
    top: 280px;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.for-save-button {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 30%;
    bottom: 30%;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}

.for-back-button {
    position: absolute;
    width: 15%;
    height: 10%;
    left: 50%;
    bottom: 30%;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}
