.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.for-login {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}
.for-tab{
  position: absolute;
  left: 20%;
  right: 35%;
  top: 0;
  bottom: 0;

  background: #FFFFFF;
}
.for-cal{
  position: absolute;
  left: 65%;
  right: 12%;
  top: 0;
  bottom: 0;

  background: #F7F7F7;
  backdrop-filter: blur(81.5485px);
}